<br><br>
<div class="alert alert-info" *ngIf="wishList.length===0">No any wishlist item</div>
<ng-container *ngIf="wishList.length>0">
<div class="container" *ngFor="let item of wishList; let i=index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="assets/img/product.jpg"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="card-title"><strong style="color: black;">{{item.productName}}</strong></div>
                            <div class="card-text"><strong style="color: black;">{{item.productPrice|currency:'INR'}}</strong></div>
                            <div class="card-text"><strong style="color: black;">{{item.productSpecification}}</strong></div>
                        </div>
                        <div class="card-body del">
                            <button (click)="delete(item.productId)" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><!--{{item.manufacturer}}-->manufacturer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</ng-container>
