<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1 style="font-size:50px; text-align:center; margin-top: 1%;">🅐🅑🅞🅤🅣 🅤🅢</h1>   
        <div >
        <img class="d-block img-fluid" style="margin: 0.5em auto 3em auto; object-fit: cover; ;" 
                        src="https://cdn.shopify.com/s/files/1/2524/8750/articles/Blog3.jpg?v=1512547464" alt="First slide" width="1300px" >
         </div>
                    <p style="margin: 0 0 4em 0;">Founded in 1976, the shop is currently owned and managed
                         by Ken Costigan and Derek Moody. It’s as 100% Irish now as it was guaranteed Irish 
                         back then. Since our inception as the Great Outdoors, we have welcomed many adventurers
                          through our doors. People venturing off to the North Pole, Everest and other hard to 
                          reach places have all stocked up here before setting off. Others diving in the Red 
                          Sea or the Glacial Fjords of Iceland have been equipped through ourselves. Students 
                          on J1 visas or Australian work permits have all been looked after before heading off
                           on their travels.No matter how big your adventure, it’s still your adventure and we
                            have always strived to make that adventure the best possible one. We hope that anyone
                             who enjoys “the Outdoor Life” will find much to interest them both in our shop and 
                             on our site. We have built our reputation on our great brand ranges and the
                              experienced and qualified staff that we employ. All of the staff are outdoors’ 
                              people and have as much interest in adventure as our customers do.</p>
    </body>
</html>
