<div class="modal-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>
                    <h3 class="modal-title">LOGIN SUCCESS</h3>
                </strong>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">Login successfully...!</p>
                <div class="modal-footer">
                    <button mat-flat-button  mat-dialog-close color="accent">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
