
<div class="card mt-8" style="margin-top: 1%;">
  <div class="alert alert-info" *ngIf="productList.length==0">Data not found</div>
    <mat-card fxFlex="80" *ngIf="productList.length>0">
      <form class="form-inline">
        <input class="form-control" name="searchInput" placeholder="Search by product Name" #searchInput="ngModel" [(ngModel)]="searchText"
            style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
    </form>
    <table class="table table-sum" style="border: 1px;">
      <thead class="table-primary">
        <th>Retailer Id</th>
        <th>Product Id</th>
        <th>Product Category</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Total Amount(₹)</th>
        <th>Product Receive Time</th>
        <th>Product Receive Date</th>
        <th>Product Sale Time</th>
        <th>Product Sale Date</th>
        <th>Action</th>
      </thead>
      <ng-container *ngFor="let item of productList; let i=index">
          <tr class="table-dark" *ngIf="onSearch(item)">
            <td>{{item.retailerId}}</td>
            <td>{{item.productId}}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.productQuantity}}</td>
            <td>{{item.totalAmount | currency:"₹"}}</td>
            <td>{{item.productReceiveTimeStamp | timeStampToTime}}</td>
            <td>{{item.productReceiveTimeStamp | timeStampToDate | date}}</td>
            <td>{{item.productSaleTimeStamp | timeStampToTime }}</td>
            <td>{{item.productSaleTimeStamp | timeStampToDate | date}}</td>
            <td class="btn btn-group">

              <button type="submit" class="btn btn-primary" style="margin:1em 0 0 5em;" (click)="handleUpdate(item.inventoryId)">
              <i class="fa fa-edit"></i>
            </button>
              <button type="submit" class="btn btn-primary" style="margin:1em 0 0 5em;"  (click)="handleDeleteProductFromInventory(item.inventoryId)">
              <i class="fa fa-trash"></i>
              </button>
          </td>
          </tr>
    
      </ng-container>
  
    </table>
</mat-card>

  </div>
  <div class="alert alert-info" *ngIf="deleteSuccess">Item Deleted successfull..</div>
  <div>
    <button type="submit" class="btn btn-primary" style="margin:1em 0 0 26em;" (click)="goToAddProduct()">Add New Product</button>
  </div>


