
<div class="card mt-5" style="margin:auto; width: 910px;">
  <div class="alert alert-info" *ngIf="productList.length==0">Data not found</div>
    <mat-card fxFlex="50" *ngIf="productList.length>0">
    <table class="table table-sum" style="border: 1px;">
      <thead class="table-primary">
        <th>Product Id</th>
        <th>Product Category</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Total Amount(₹)</th>
        <th>Product Receive Time</th>
        <th>Product Receive Date</th>
        <th>Action</th>
      </thead>
      <ng-container *ngFor="let item of productList; let i=index">
          <tr >
            <td>{{item.productId}}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.productQuantity}}</td>
            <td>{{item.totalAmount}}</td>
            <td>{{item.productReceiveTimeStamp  | timeStampToTime }}</td>
            <td>{{item.productReceiveTimeStamp | timeStampToDate | date}}</td>
           <td>
             <button type="submit" class="btn btn-primary" style="margin:1em 0 0 5em;"  (click)="handleDeleteProductFromInventory(item.inventoryId)">Delete</button>
             <button type="submit" class="btn btn-primary" style="margin:1em 0 0 5em;" (click)="handleUpdate(item.inventoryId)">Edit</button>
           </td> 
          </tr>
    
      </ng-container>
  
    </table>
</mat-card>

  </div>
  <div class="alert alert-info" *ngIf="deleteSuccess">Item Deleted successfull..</div>
  <div>
    <button type="submit" class="btn btn-primary" style="margin:1em 0 0 26em;" (click)="goToAddProduct()">Add New Product</button>
  </div>


