<script src="add-product-master.component.ts"></script>
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="40" >
<main class="form-main">
  <h3 style="margin-top:10%"><strong>Add Product Master</strong></h3>
  <form class="form-form "
        [formGroup]="form">
    <mat-form-field>
      <input matInput
             #email
             spellcheck="false"
             placeholder="Email"
             formControlName="email">
      <mat-hint>
        Email will never be shared or sold.
      </mat-hint>
      <mat-error>
        {{ formErrors['email'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             spellcheck="false"
             placeholder="User Id"
             formControlName="userId">
      <mat-hint>
        User Id allowed characters are letters and numbers only. No spaces.
      </mat-hint>
      <mat-error>
        {{ formErrors['userId'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             #phoneNo
             spellcheck="false"
             placeholder="Phone Number"
             formControlName="phoneNo">
      <mat-hint>
        Phone No will never be shared or sold.
      </mat-hint>
      <mat-error>
        {{ formErrors['phoneNo'] }}
      </mat-error>
    </mat-form-field>

    <div formGroupName="passwordsGroup"
         class="form-form">

      <mat-form-field>
        <input [type]="hidePassword ? 'password' : 'text'"
               matInput
               spellcheck="false"
               placeholder="Password"
               formControlName="password">
        <button mat-icon-button
                tabindex="-1"
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>
          Password minimum length 6, requires one letter, one number, one special character !@#$%^&* no spaces.
        </mat-hint>
        <mat-error>
          {{ formErrors['password'] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [type]="hidePassword ? 'password' : 'text'"
               matInput
               spellcheck="false"
               placeholder="Confirm Password"
               [errorStateMatcher]="errorMatcher"
               formControlName="confirmPassword">
        <button mat-icon-button
                tabindex="-1"
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>
          Confirm Password minimum length 6, requires one letter, one number, one special character !@#$%^&* no spaces.
        </mat-hint>
        <mat-error>
          {{ formErrors['confirmPassword'] ? formErrors['confirmPassword'] : formErrors['passwordsGroup'] }}
        </mat-error>
      </mat-form-field>

      <div class="form-button-row">
        <button mat-raised-button
                [disabled]="!form.valid"
                (click)="registerClicked(this.form.value)"
                color="primary">Register</button>

        <button mat-raised-button
                [routerLink]="['']"
                color="primary">Back</button>
      </div>
    </div>
  </form>
</main>
<div class="alert alert-info" *ngIf="success">Product Master added successfully..!!</div>
  </mat-card>
</div>