.mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-checked{
  background: #8cce88 !important;
}

.btn-primary{
  background-color: #6aca80 !important;
  border-color: #6aca80 !important;
}
.bg-primary{
  background-color: #6aca80 !important;
}
html {
 height:100vh;
 margin: 0;
 padding: 0;
}

body {
 margin:0;
 padding:0;
 height:100vh;
 font-family: 'Titillium Web';
 font-size: 16px;
 background-color: whitesmoke;
}

.form-main {
 display: flex;
 flex: 1;
 flex-direction: column;
 padding: 12px;
}

.form-form {
 display: flex;
 flex: 1;
 flex-direction: column;
 width: 400px;
}

.form-button-row {
 display: flex;
 flex: 1;
 flex-direction: row;
 justify-content: space-between;
 margin-top: 12px;
}

mat-form-field {
 margin-bottom: 24px;
}